In [1]:
import os
import boto3
import pandas as pd

In [2]:
AWS_S3_BUCKET='w210-bucket'
AWS_S3_REGION='us-east-1'
AWS_PROFILE_NAME='default'
#AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
#AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")
#AWS_SESSION_TOKEN = os.getenv("AWS_SESSION_TOKEN")

In [3]:
session = boto3.Session(profile_name=AWS_PROFILE_NAME)
s3_client = session.client('s3',
        region_name=AWS_S3_REGION)

In [4]:
response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="date-hour-soo-dest-2013.csv")

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    df = pd.read_csv(response.get("Body"))
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

NoSuchKey: An error occurred (NoSuchKey) when calling the GetObject operation: The specified key does not exist.

In [5]:
df.head()

   2013-01-01  0  12TH 12TH.1   2
0  2013-01-01  0  12TH   16TH   1
1  2013-01-01  0  12TH   19TH   2
2  2013-01-01  0  12TH   24TH   1
3  2013-01-01  0  12TH   ASHB  12
4  2013-01-01  0  12TH   BAYF   3

In [6]:
df.describe()

                  0             2
count  9.606208e+06  9.606208e+06
mean   1.361859e+01  1.217665e+01
std    5.753799e+00  2.970967e+01
min    0.000000e+00  1.000000e+00
25%    9.000000e+00  2.000000e+00
50%    1.400000e+01  4.000000e+00
75%    1.800000e+01  1.000000e+01
max    2.300000e+01  1.270000e+03